# ---- Folders ----
bin/
lib/
__pycache__/
CronosFlights/
utils/logs/aerolineasARG/FlightsManagers
utils/logs/aerolineasARG/Notifys
utils/logs/aerolineasARG/TokensManager
utils/logs/aerolineasARG/Tools

# ---- Files ----
pyvenv.cfg
*.env
*.log
utils/configs/general_configs.json
utils/fetchsmethods/fetchs.py
FlightsData/AerolineasARG/price_history_calendar.parquet